.file-drop-area {
  height: 20rem;
  width: 20rem;
  border-radius: 3rem;
  background-color: #f3f3f3;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.active::after {
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
  }
  &::after {
    content: '';
    width: 75%;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    border: black 2px dashed;
    border-radius: 2rem;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out,
      top 0.1s ease-in-out, left 0.1s ease-in-out;
  }
  .file-name {
    font-weight: 700;
  }
}
