.file-drop-area {
  height: 20rem;
  width: 20rem;
  border-radius: 3rem;
  background-color: #f3f3f3;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
  }
  &::after {
    content: '';
    width: 75%;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    border: black 2px dashed;
    border-radius: 2rem;
  }
}
